.container-state-charger{
    max-width: 120px;
    padding: 0.6rem 1rem;
    border-radius: 999px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.state-charger{
    font-weight: bold;
    color: #fff;
}